## Test Case

In [20]:
from script import Transaction

### Test Case I : Menambahkan Item

In [21]:
orders = Transaction()
orders.add_item('Es Krim', 1, 7_000)
orders.add_item('Coklat', 2, 30_000)

Item dalam pesanan: Es Krim sebanyak 1 dengan harga Rp 7000.
Item dalam pesanan: Coklat sebanyak 2 dengan harga Rp 30000.

### Test Case II : Menghapus Item

In [22]:
orders.delete_item('Coklat')

Item Coklat telah dihapus.

| Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga Item |
|-------------|---------------|------------------|--------------------|
| Es Krim     |             1 |             7000 |               7000 |

### Test Case III: Mereset Seluruh Item

In [23]:
orders.reset_transaction()

Seluruh item berhasil dihapus.

### Test Case IV : Menghitung Total Belanja

In [25]:
orders = Transaction()
orders.add_item('Es Krim', 1, 7_000)
orders.add_item('Coklat', 2, 30_000)

Item dalam pesanan: Es Krim sebanyak 1 dengan harga Rp 7000.
Item dalam pesanan: Coklat sebanyak 2 dengan harga Rp 30000.

In [26]:
orders.total_price()

| Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga Item |
|-------------|---------------|------------------|--------------------|
| Es Krim     |             1 |             7000 |               7000 |
| Coklat      |             2 |            30000 |              60000 |
Pesanan sudah benar.
Total belanja Anda adalah Rp 67000.

### Test Case V : Mengubah Item

In [28]:
orders = Transaction()
orders.add_item('Kopi Susu', 10, 5_000)
orders.add_item('Biskuit', 2, 15_000)
orders.add_item('Kacang Goreng', 5, 7_000)

Item dalam pesanan: Kopi Susu sebanyak 10 dengan harga Rp 5000.
Item dalam pesanan: Biskuit sebanyak 2 dengan harga Rp 15000.
Item dalam pesanan: Kacang Goreng sebanyak 5 dengan harga Rp 7000.

In [29]:
orders.update_item('Kacang Goreng','Kacang Goreng Bawang')

| Nama Item            |   Jumlah Item |   Harga per Item |   Total Harga Item |
|----------------------|---------------|------------------|--------------------|
| Kopi Susu            |            10 |             5000 |              50000 |
| Biskuit              |             2 |            15000 |              30000 |
| Kacang Goreng Bawang |             5 |             7000 |              35000 |
Nama item Kacang Goreng telah diubah menjadi Kacang Goreng Bawang.

### Test Case VI : Mengubah Jumlah Item

In [ ]:
orders.update_item_qty('Biskuit', 10)

| Nama Item       |   Jumlah Item |   Harga per Item |   Total Harga Item |
|-----------------|---------------|------------------|--------------------|
| Kopi Susu       |            10 |             5000 |              50000 |
| Biskuit         |            10 |            15000 |             150000 |
| Kacang Panggang |             5 |             7000 |              35000 |
Jumlah item Biskuit telah diubah menjadi 10.

### Test Case VII : Mengubah Harga Item

In [ ]:
orders.update_item_price('Kopi Susu', 7_000)

| Nama Item       |   Jumlah Item |   Harga per Item |   Total Harga Item |
|-----------------|---------------|------------------|--------------------|
| Kopi Susu       |            10 |             7000 |              70000 |
| Biskuit         |            10 |            15000 |             150000 |
| Kacang Panggang |             5 |             7000 |              35000 |
Harga item Kopi Susu telah diubah menjadi 7000.

### Test Case VIII : Cek Validitas Pesanan

In [ ]:
orders.check_order()

| Nama Item       |   Jumlah Item |   Harga per Item |   Total Harga Item |
|-----------------|---------------|------------------|--------------------|
| Kopi Susu       |            10 |             7000 |              70000 |
| Biskuit         |            10 |            15000 |             150000 |
| Kacang Panggang |             5 |             7000 |              35000 |
Pesanan sudah benar.

### Test Case IX : Menghitung Total Belanja dan Diskon

In [ ]:
orders.total_price()

| Nama Item       |   Jumlah Item |   Harga per Item |   Total Harga Item |
|-----------------|---------------|------------------|--------------------|
| Kopi Susu       |            10 |             7000 |              70000 |
| Biskuit         |            10 |            15000 |             150000 |
| Kacang Panggang |             5 |             7000 |              35000 |
Pesanan sudah benar.
Anda mendapatkan diskon 5% sebesar Rp 12750. Total belanja Anda adalah Rp 242250 (sudah termasuk diskon).